body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: rgb(84, 110, 136);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
}

main {
}

footer {
    background-color: #2a4680;
    padding: 15px;
}
