/* Стили для контейнера вкладок */
.tabs {
    font-family: Arial, sans-serif;
}

/* Стили для кнопок заголовков */
.tabs-header button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tabs-header button:hover {
    background-color: #ddd;
}

.tabs-header button.active {
    background-color: #ccc;
    font-weight: bold;
}

/* Стили для контента вкладок */
.tabs-body > div {
    display: none; /* Скрываем все блоки по умолчанию */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 10px;
}

/* Стили для вкладок */
.tabs-body {
    margin-top: 10px;
}

.tab-content {
    display: flex; /* Горизонтальное расположение */
    justify-content: space-around;
    align-items: center; /* Выравнивание по вертикали */
    gap: 20px; /* Отступ между изображением и текстом */
    padding: 10px;
}

.tab-image {
    // display: fle;
    width: 250px; /* Размер изображения */
    height: auto;
    border-radius: 8px; /* Скругление углов */
}

.tab-text {
    // flex: 1;
    font-size: 16px;
    line-height: 1.5;
}
