/* Подвал */

footer{
    background-color: rgb(33, 169, 18);
    height: 50px;
}

.footer-container{
    /*  */
}

.content-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
