/* Голова */
header{
    background-color: rgb(33, 169, 18);
    height: 50px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 50px;
    height: 50px;
}